
<div *ngFor="let row of rows" class="projects-holder sticky container">
  <div class="row">
    <div *ngFor="let project of row" class="project selected super-selected" [id]="project.id" onmouseover="selectProject(this.id)">
      <img src="https://images.unsplash.com/photo-1551415923-a2297c7fda79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80" alt=""/>
    </div>
    
    <div class="projectnot-selected" id="pro-2" onmouseover="selectProject(this.id)"> 
      <img src='https://images.unsplash.com/photo-1551432434-d5f2bdc62ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80' alt=""/>
    </div>
  </div>

  <div class="row">
    <div class="project not-selected" id="pro-3" onmouseover="selectProject(this.id)">
      <img src='https://images.unsplash.com/photo-1551418170-644d30f341f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80' alt=""/>
    </div>
    
    <div class="project selected" id="pro-4" onmouseover="selectProject(this.id)">
      <img src='https://images.unsplash.com/photo-1551336801-724517de7994?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80' alt=""/>
    </div>
  </div>
  
</div>